<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}} Demo
  </h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<nav>
  <a routerLink="volume-chart" class="btn btn-primary active" role="button" routerLinkActive="active">volume-chart</a>
  <a routerLink="volume-table" class="btn btn-primary active" role="button" routerLinkActive="active">volume-table</a>
  <a routerLink="price-chart" class="btn btn-primary active" role="button" routerLinkActive="active">price-chart</a>
  <a routerLink="price-table" class="btn btn-primary active" role="button" routerLinkActive="active">price-table</a>
  <a routerLink="stock" class="btn btn-primary active" role="button" routerLinkActive="active">stock</a>

</nav>
